<template>
  <v-app light>
    <v-toolbar
      fixed
      app
      dense
    >

      <v-toolbar-title> {{get_host}}</v-toolbar-title>
      <v-spacer/>

    </v-toolbar>
    <v-content>
      <v-container fluid class="blue">
        <nuxt/>
      </v-container>
    </v-content>
    <v-footer
      app
    >
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
  export default {
    data() {
      return {
        host: '',
        clipped: false,
        drawer: false,
        fixed: true,
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'Vuetify.js'
      }
    },
    asyncData({context}) {
      console.log('test')
      let host1 = context.req ? context.req.headers.host : window.location.origin
      return {host: host1}
    },
    computed: {
      get_host() {
        return this.$store.state.host
      }
    }
  }
</script>
