<template>
  <v-layout
    row wrap
  >
    <v-flex xs12>
      <v-card color="green">
        <v-card-text>
          <v-layout
            row wrap
          >
<v-flex md4>
<v-list class="green">
  <v-list-tile-content v-for="(item, index) in items1.slice(0, items1.length/3)" :key="index">
    <v-flex class="pr-1 mb-1">
      <v-card>
        <v-card-text>
          {{item.title}}
        </v-card-text>
      </v-card>
    </v-flex>
  </v-list-tile-content>
</v-list>
</v-flex>

    <v-flex md4>
      <v-list class="green">
        <v-list-tile-content v-for="(item, index) in items1.slice(items1.length/3, items1.length/3*2)" :key="index">
          <v-flex class="pr-1 mb-1" >
            <v-card>
              <v-card-text>
                {{item.title}}
              </v-card-text>
            </v-card>
          </v-flex>
        </v-list-tile-content>
      </v-list>
    </v-flex>

    <v-flex md4>
      <v-list class="green">
        <v-list-tile-content  v-for="(item, index) in items1.slice(items1.length/3*2, items1.length)" :key="index">
          <v-flex class="pr-1 mb-1">
            <v-card>
              <v-card-text>
                {{item.title}}
              </v-card-text>
            </v-card>
          </v-flex>
        </v-list-tile-content>
      </v-list>
    </v-flex>




    <v-flex class="justify-center" xs12>
    <v-card color="yellow">
      <v-card-text>
        <v-pagination v-model="page" :length="pages" :total-visible="12"></v-pagination>
      </v-card-text>
    </v-card>
  </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-flex>

  </v-layout>
</template>

<script>
  import axios from 'axios'
  export default {
    loading: false,
    asyncData ({store, $axios}) {
      let host = store.state.host.split(':')[0]
      //console.log(host)
      return $axios.post('/api/entry/by_domain/',
        {
          domain: host
        })
        .then((res) => {
          //console.log(res.data.count)
          return {items1: res.data.results, total: res.data.count}
        })
        .catch(({ res }) => {
          console.log('fail');
          console.log(res)
          return {items1: [], total: 0}
        })
    },
    data() {
      return {
        items1: [],
        total: 0,
        lhost: '',
        pagination: {},
        page: 1
      }
    },
    head() {
      return {
        title: 'main page'
      }
    },
    watch: {
      page: {
        handler () {
          this.fetchEntryes()
        },
        deep: true
      }
    },
    methods: {
      async fetchEntryes () {
        this.loading = true
        return this.$axios.$post('/api/entry/by_domain/?offset=' + (this.page - 1) * 12,
          {
            domain: this.get_host
          }).then((res) => {
          this.total = res.count
          this.items1 = res.results
          this.loading = false
        })
          .catch(({ res }) => {
            this.total = 0
            this.items1 = []
            this.loading = false
            console.log('fail');
            console.log(res)
          })

      },
    },
    computed: {
      get_host() {
        return this.$store.state.host.split(':')[0]
      },
      pages () {
        return Math.ceil(this.total / 12)
      }
    }
  }
</script>
